# pandas

- Pandas is a Python library used for working with data sets.

- It has functions for analyzing, cleaning, exploring, and manipulating data.

### Why Use Pandas?

- Pandas allows us to analyze big data and make conclusions based on statistical theories.

- Pandas can clean messy data sets, and make them readable and relevant.

- Relevant data is very important in data science.

## pandas data structure:

- Series (1-dimensional)
- DataFrame(2 -dimensional)

### Series:

A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type.

Creating Series :
    
    - list
    - tuple
    - dictionary
   
    - array

In [ ]:
# examples

List

In [1]:
import numpy as np
import pandas as pd

In [2]:
lst = [10,'Ankita',True]

In [3]:
lst

[10, 'Ankita', True]

In [4]:
a1 =pd.Series(lst)

a1

0        10
1    Ankita
2      True
dtype: object

In [5]:
type(a1)

pandas.core.series.Series

In [6]:
a1[2]

True

In [7]:
a1[1]

'Ankita'

In [8]:
a2 =[1,2,3,4,5]

In [9]:
a2

[1, 2, 3, 4, 5]

In [10]:
d1=pd.Series(a2)
d1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
a3 =['neha','kajal','pooja']

a3

['neha', 'kajal', 'pooja']

In [12]:
d2=pd.Series(a3)
d2

0     neha
1    kajal
2    pooja
dtype: object

### tuple

In [13]:
t1=(10,20,30,40,50)
t1

(10, 20, 30, 40, 50)

In [15]:
d3=pd.Series(t1)
d3

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [16]:
type(d3)

pandas.core.series.Series

### Dictionary

In [17]:
dict1 ={1:100,2:200,3:300,4:400,5:500}

dict1

{1: 100, 2: 200, 3: 300, 4: 400, 5: 500}

In [18]:
type(dict1)

dict

In [ ]:
keys==Index

In [19]:
d4=pd.Series(dict1)
d4

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [20]:
d4[4]

400

In [21]:
type(d4)

pandas.core.series.Series

### set

In [22]:
s1 ={20,34,11,55,66}
s1

{11, 20, 34, 55, 66}

In [23]:
type(s1)

set

In [24]:
d5=pd.Series(s1)
d5

TypeError: 'set' type is unordered

### array

In [25]:
arr = np.arange(1,21)
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [26]:
type(arr)

numpy.ndarray

In [27]:
d6 = pd.Series(arr)
d6

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
dtype: int32

In [28]:
type(d6)

pandas.core.series.Series

In [29]:
d6[15]

16

### Rename

In [ ]:
rename->index
replace->values

#syntax

variable_name.rename({old_index:new_index,old_index:new_index},inplace=True)

In [ ]:
# examples

In [30]:
d6

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
dtype: int32

In [34]:
d6.rename({10:'ten'},inplace=True)

In [35]:
d6

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
ten    11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
dtype: int32

In [36]:
d6

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
ten    11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
dtype: int32

In [37]:
d6

0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
ten    11
11     12
12     13
13     14
14     15
15     16
16     17
17     18
18     19
19     20
dtype: int32

### replace()

#### syntax

In [ ]:
# replace only one value

variable_name.replace(old_value,new_value,inplace=True)

In [ ]:
# replace multiple values

variable_name.replace([old_value1,old_value2,old_value3],[new_value1,new_value2,new_value3],inplace=True)

In [39]:
d4

1    100
2    200
3    300
4    400
5    500
dtype: int64

In [ ]:
# replace only one value

variable_name.replace(old_value,new_value,inplace=True)

In [42]:
#example


d4.replace(300,30,inplace=True)

In [43]:
d4

1    100
2    200
3     30
4    400
5    500
dtype: int64

In [44]:
d4

1    100
2    200
3     30
4    400
5    500
dtype: int64

In [ ]:
replace multiple values

In [ ]:
# replace multiple values

variable_name.replace([old_value1,old_value2,old_value3],[new_value1,new_value2,new_value3],inplace=True)

In [46]:
# example


d3

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [47]:
d3.replace([20,40],[200,400])

0     10
1    200
2     30
3    400
4     50
dtype: int64

### sort_index()

d7.sort_index()                    ->ascending

d7.sort_index(ascending=False)     ->decending

In [51]:
f2=np.arange(1,31)
f2

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30])

In [50]:
d7 =pd.Series(f2)
d7

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int32

In [52]:
#example
#ascending

d7.sort_index()

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int32

In [53]:
#example2

d7.sort_index(ascending=False)

29    30
28    29
27    28
26    27
25    26
24    25
23    24
22    23
21    22
20    21
19    20
18    19
17    18
16    17
15    16
14    15
13    14
12    13
11    12
10    11
9     10
8      9
7      8
6      7
5      6
4      5
3      4
2      3
1      2
0      1
dtype: int32

### sort_values()

In [54]:
d7

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int32

In [55]:
d7.sort_values()

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int32

In [56]:
d7.sort_values(ascending=False)

29    30
28    29
27    28
26    27
25    26
24    25
23    24
22    23
21    22
20    21
19    20
18    19
17    18
16    17
15    16
14    15
13    14
12    13
11    12
10    11
9     10
8      9
7      8
6      7
5      6
4      5
3      4
2      3
1      2
0      1
dtype: int32